:root{
    --brand-color-blue: #2196F3;
    --brand-color-black: #212121;
    --brand-color-grey: #757575;
    --brand-color-white: #FFFFFF;
    --brand-footer-color-grey:rgba(255, 255, 255, 0.6);
    --brand-background-dark: #2F303A;
    --brand-background-main: #E5E5E5;
    --brand-background-team: #F5F4FA;
    --brand-header-border: #ECECEC;

}

body{
    font-family: 'Roboto', sans-serif;
    color: var(--brand-color-black);
    background-color: var(--brand-color-white);
    font-size: 14px;
    letter-spacing: 0.03em;
    margin: 0 auto;
}

.header{
border-bottom: 1px solid var(--brand-header-border);
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    
}
.header-container {
   display: flex; 
align-items: center;
justify-content: space-between;
}

.header-nav-container {
    display: flex;
    align-items: center;
}

.header-nav-container li{
    margin: 0 20px
}

.flex-list{
    display: flex;
}
.photo-list{
    display: flex;
    margin-top: 50px;
    gap: 20px;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.list-style{
    list-style:none;
    
}


.lorem-h3 {
font-weight: 700;
    font-size: 14px;
    line-height: 1.1429;
    letter-spacing: 0.03em;
}

.lorem-p {
    
    line-height: 1.714;
    color: var(--brand-color-grey);
}

.portfolio-header2{
    font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
}


.header-two{
    font-weight: 700;
        font-size: 36px;
        line-height: 1.1667;
        letter-spacing: 0.03em;
        text-align: center;
}

.portfolio-filter{
    color: var(--brand-color-grey);
        font-size: 16px;
        line-height: 1.875;
        letter-spacing: 0.03em;
}


.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923px;
    letter-spacing: 0.03em;
    color: var(--brand-color-black);
    text-decoration: none;
}


.brand-color-blue{
   color: var(--brand-color-blue);
}

.menu-link{
text-decoration: none;
font-size: 14px;
font-weight: 500;
color: var(--brand-color-black);
}

.menu-link:hover{
color: var(--brand-color-blue);
}
.menu-link:focus{
color: var(--brand-color-blue);
}

.menu-link-activ{
    text-decoration: none;
        font-size: 14px;
        font-weight: 500;
        color: var(--brand-color-blue);
    }
.menu-link-activ:hover{
color: var(--brand-color-blue);;
}
.menu-link-activ:focus{
color: var(--brand-color-blue);;
}

.menu-contact-link{
    color: var(--brand-color-grey);
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}
.menu-contact-link:hover{
    color: var(--brand-color-blue);
    }

.menu-contact-link:focus {
    color: var(--brand-color-blue);
}


.header-one-structure{
    text-align: center;
    background-color: var(--brand-background-dark);
}
.header-one{
    font-weight: 900;
        font-size: 44px;
        line-height: 1.3636;
        color: var(--brand-color-white);
        letter-spacing: 0.06em;
    text-align: center;
    
    }

.header-one-button {
    color: var(--brand-color-white);
    background-color: var(--brand-color-blue);
    border: none;
    font-weight: 700;
        font-size: 16px;
        line-height: 1.875;
        letter-spacing: 0.06em;
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
        border-radius: 4px;
        
}


.team{
    background-color: var(--brand-background-team);
}


.team-name {
    font-weight: 500;
    font-size: 16px;
        line-height: 1.1875;
        letter-spacing: 0.03em;
    /* padding: 30px 0 10px 0; */
}


.team-job {
    color: #757575;
    font-size: 16px;
        line-height: 1.1875;
        letter-spacing: 0.03em;
}



.footer{
    background-color: var(--brand-background-dark);
    color: var(--brand-color-white)
}


/* Footer */
.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
    letter-spacing: 0.03em;
    color: var(--brand-color-white);
    text-decoration: none;
}

.address.style{
    font-style: normal;
}

.footer-link-address{
        font-size: 14px;
        line-height: 1.71;
        color: var(--brand-color-white);
        text-decoration:none;
        letter-spacing: 0.03em;
}



.footer-link-contact {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration-line: none;
    color: var(--brand-footer-color-grey);
}

.footer-link-contact:hover,
.footer-link-contact:focus,
.footer-link-contact:active {
    color: var(--brand-color-white);
}
/* Footer end */

.active-blue{
    color: var(--brand-color-blue);
}

.portfolio-button {
    background-color: #f5f4fa;
    color: var(--brand-color-black);
    font-size: 16px;
    border: none;
    cursor: pointer;
    letter-spacing: 0.03em;
    font-weight: 500;
    line-height: 1.625;
    font-family: 'Roboto', sans-serif;
    /* padding: 0px 20px 0px 20px;
    font-weight: 500;
    height: 38px;
    border-radius: 4px; */
}
.portfolio-button:hover, .portfolio-button:focus, .portfolio-button:active{
    background-color: var(--brand-color-blue);
    color: var(--brand-color-white);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}